beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
dateparser==1.2.2
idna==3.10
load-dotenv==0.1.0
numpy
pandas
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
regex==2024.11.6
requests==2.32.4
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
selenium
sumy==0.11.0
langchain==0.3.26
langchain-core==0.3.68
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
webdriver-manager==4.0.2
goose3
cloudscraper
langchain-groq